body {
  height: 100vh;
  background: #1864ab;
 /* background-image: url('../images/alcielo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.nav__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 20px;
  background: #1864ab;
  border-bottom: solid 1px white;
  opacity: 0.8;
}

.nav__title {
  margin: 0;
  color: white;
  font-size: 20px;
}

.nav__button {
  width: 30px;
  height: 30px;
  display: block;
  background: #1864ab;
  border: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  background: #1864ab;
  opacity: 0.9;
}

.nav__items {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  margin-left: 20px;
  padding: 10px;
}

.nav__link {
  color: #d3d3d3;
  font-size: 20px;
}

.nav__link:link {
  text-decoration: none;
}

.nav__link:hover {
  color: white;
}

.nav__link:visited {
  text-decoration: none;
}

.main__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 100px;
  height: 100vh;
}

.icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto;
}

.icons {
  font-size: 55px;
  color: #1864ab;
}

.icons.react {
  color: #63e6be;
}

.icons__react {
  background: #1864ab;
}

.main__descripcion {
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  width: 100px;
  padding: 10px;
}

.icons__div {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #63e6be;
}

@media all and (min-width: 768px) {
  .nav__button {
    display: none;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #1864ab;
    padding: 20px;
    border-bottom: solid 1px white;
  }

  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav__div {
    border-bottom: none;
  }

  .nav__title {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 100;
  }

  .nav__items {
    list-style: none;
    color: #58D18D;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    margin: 0;
  }

  .nav__link {
    font-size: 26px;
  }

  .icon__front {
    margin-bottom: 50px;
  }

  .main__icons {
    margin-top: 0px;
  }

  .icons {
    font-size: 80px;
  }

  .main__descripcion {
    font-size: 28px;
    padding-left: 30px;
  }

  .main__descripcion.front {
    width: 400px;
    margin-left: 20px;
  }

  .icons__grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/*# sourceMappingURL=main.css.map */
