body {
  height: 100vh;
  background: #20E3C2;
 /* background-image: url('../images/alcielo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.nav__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 20px;
  background: #71008C;
  border-bottom: solid 1px white;
}

.nav__title {
  margin: 0;
  color: white;
  font-size: 20px;
}

.nav__button {
  background-image: url("../images/icon_menu.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #71008C;
  width: 30px;
  height: 30px;
  display: block;
  border: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.img__menu {
  background-image: url("../images/close.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  background: #71008C;
  opacity: 0.8;
}

.nav__items {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  margin-left: 20px;
}

.nav__link {
  color: white;
  font-size: 20px;
}

.nav__link:link {
  text-decoration: none;
}

.nav__link:hover {
  color: #20E3C2;
}

.nav__link:visited {
  text-decoration: none;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100vh;
  margin-top: 100px;
}

.title--color {
  width: 40px;
  margin-left: 40px;
  padding-bottom: 200px;
  text-align: left;
  color: #71008C;
  font-size: 38px;
  text-transform: uppercase;
  -webkit-text-decoration: underline  white;
  text-decoration: underline  white;
}

.main__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh;
}

.icons__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icons__container.html5 {
  height: 100vh;
  background-color: #2F16AB;
  padding-left: 50px;
  padding-top: 30px;
}

.icons {
  font-size: 55px;
  color: #71008C;
}

.icons.icon__react {
  color: #9DE0AD;
}

.icons__react {
  background: #547980;
}

.main__descripcion {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
  width: 100px;
}

.icons__div {
  width: 65px;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #9DE0AD;
}

@media all and (min-width: 768px) {
  .nav__button {
    display: none;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #71008C;
    padding: 20px;
  }

  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav__div {
    border-bottom: none;
    background: #71008C;
  }

  .nav__title {
    margin: 0;
    color: white;
    font-size: 28px;
    font-weight: 100;
  }

  .nav__items {
    list-style: none;
    color: #58D18D;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    margin: 0;
  }

  .nav__link {
    font-size: 26px;
  }

  .header__nav,.nav__link {
    padding: 7px 15px;
  }

  .target {
    position: absolute;
    border-bottom: 5px solid;
    z-index: -1;
    -webkit-transform: translateX(-60px);
    transform: translateX(-60px);
  }

  .header__nav,.nav__link,.target {
    -webkit-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
  }

  .main__icons {
    margin-top: 0px;
  }

  .icons {
    font-size: 80px;
  }

  .title--color {
    font-size: 65px;
    margin-left: 60px;
  }

  .main__descripcion {
    font-size: 28px;
    padding-left: 30px;
  }

  .main__descripcion.front {
    width: 400px;
    margin-left: 20px;
  }

  .icons__div {
    width: 100px;
    height: 100px;
  }

  .icons__grid {
    display: grid;
    grid-template-columns: auto auto;
  }
}

/*# sourceMappingURL=main.css.map */
