@charset "UTF-8";

.contenedor0 {
  background-color: white;
  height: 100vh;
  width: 100vw;
}

.title__aboutme,.p__descripcion--perfil {
  color: #71008C;
  text-align: center;
  padding: 20px;
}

.title__aboutme {
  margin-top: 80px;
}

.primero {
  color: #00ABC1;
}

.img__perfil {
  width: 200px;
  height: 200px;
  background-image: url("../images/perfil.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 20px;
  margin: 0 auto;
}

body {
  height: 100vh;
  background: #20E3C2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particle-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title__contacto {
  text-transform: uppercase;
  color: #20E3C2;
  font-size: 30px;
}

.email {
  margin: 20px 0;
  font-size: 20px;
  text-decoration: none;
}

.email:link {
  color: #71008C;
}

.email:visited {
  color: #71008C;
}

.icons__rrss {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 35px;
}

.rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.rrss::before {
  content: "·";
  font-size: 40px;
  color: #20E3C2;
  margin: 0 10px;
}

.rrss:first-child::before {
  content: " ";
}

.contacto__linkedin,.contacto__github {
  -webkit-text-decoration-color: #71008C;
  text-decoration-color: #71008C;
}

.enlace__contacto:link {
  text-decoration: none;
  color: #71008C;
}

.enlace__contacto:active {
  color: #71008C;
}

.header__nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.nav__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  padding: 20px;
  background: #71008C;
  border-bottom: solid 1px #ffffff;
}

.nav__title {
  margin: 0;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}

.menu_on {
  display: inline-block;
  width: 30px;
  height: 20px;
  position: relative;
}

.menu_on span {
  width: 100%;
  height: 4px;
  border-radius: 4px;
  display: block;
  position: absolute;
  background: #ffffff;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transform-origin: 0px 100%;
  transform-origin: 0px 100%;
}

.menu_on span:nth-child(2) {
  top: calc(50% - 2px);
}

.menu_on span:nth-child(3) {
  bottom: 0;
}

.visible_menu span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(-2px, 1px);
  transform: rotate(45deg) translate(-2px, 1px);
}

.visible_menu span:nth-child(2) {
  opacity: 0;
}

.visible_menu span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-3px, 3px);
  transform: rotate(-45deg) translate(-3px, 3px);
}

.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  background: #71008C;
}

.nav__items {
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  margin: 20px 0 20px 20px;
  padding: 5px;
}

.nav__link {
  color: #ffffff;
  font-size: 20px;
}

.nav__link:link {
  text-decoration: none;
}

.nav__link:visited {
  text-decoration: none;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.go__link {
  display: none;
}

.title--color {
  width: 40px;
  padding-left: 20px;
  padding-bottom: 50px;
  color: #71008C;
  font-size: 38px;
  text-transform: uppercase;
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
}

.contenedor1 {
  background-color: #00ABC1;
  height: 100vh;
  width: 100vw;
}

.contenedor2 {
  background-color: #20E3C2;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.contenedor3 {
  background: #71008C;
  color: #ffffff;
  height: 100vh;
  width: 100vw;
}

.siguiente {
  display: none;
}

.contacto {
  background-color: white;
  color: #71008C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.title__htmlcss,.title__javascript,.title__react {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 20px;
  text-align: center;
}

.img__green,.img__fruittis,.img__cassiopea {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin-bottom: 30px;
}

.img__green {
  width: 300px;
  height: 200px;
  background-image: url("../images/greenmovil2.PNG");
}

.img__fruittis {
  width: 250px;
  height: 200px;
  background-image: url("../images/proyecto2.1.PNG");
}

.img__cassiopea {
  width: 300px;
  height: 200px;
  background-image: url("../images/proyecto3.1.PNG");
}

.container__descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.descripcion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.p__descripcion,.title_descripcion {
  width: 250px;
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

.tags--react,.tags--js,.tags--html {
  background: white;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid white;
  border-radius: 5px;
  padding: 2px;
}

.tags--react {
  color: #00ABC1;
}

.tags--js {
  color: #20E3C2;
}

.tags--html {
  color: #71008C;
}

.enlaces {
  -webkit-text-decoration: underline #ffffff;
  text-decoration: underline #ffffff;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
}

.proyecto {
  width: 0px;
}

.enlace__movil {
  width: 110px;
  margin: 0  auto;
  text-align: center;
}

@media all and (min-width: 768px) {
  #contenedor0 {
    background-color: white;
  }

  .img__perfil {
    width: 300px;
    height: 300px;
  }

  .title__aboutme {
    font-size: 26px;
  }

  .p__descripcion--perfil {
    font-size: 20px;
  }

  .container__descripcion--perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    padding-bottom: 30px;
  }

  .descripcion__perfil {
    width: 700px;
  }

  .title__contacto {
    font-size: 56px;
  }

  .email {
    font-size: 36px;
  }

  .icons__rrss {
    font-size: 36px;
  }

  .rrss::before {
    font-size: 55px;
  }

  .menu_on {
    display: none;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #71008C;
    padding: 20px;
    border-bottom: solid 1px #ffffff;
  }

  .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav__div {
    border-bottom: none;
    background: #71008C;
  }

  .nav__title {
    margin: 0;
    color: #ffffff;
    font-size: 28px;
    font-weight: 100;
  }

  .nav__items {
    list-style: none;
    color: #20E3C2;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    margin: 0;
  }

  .nav__link {
    font-size: 26px;
    opacity: 0.5;
  }

  .nav__link:hover {
    color: white;
    opacity: 1;
    border-bottom: solid 6px #ffffff;
  }

  .header__nav,.nav__link {
    padding: 7px 15px;
  }

  .main__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .title--color {
    font-size: 65px;
    margin-left: 80px;
  }

  .go__link {
    margin-top: 100px;
    display: none;
  }

  .go {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 5px solid #ffffff;
    background: #ffffff;
    border-radius: 20px;
    height: 70px;
    width: 85px;
    margin-right: 100px;
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
  }

  .go:hover {
    background: #71008C;
    border: solid 2px #71008C;
  }

  .go__color:hover {
    color: #ffffff;
  }

  .go__color {
    text-decoration: none;
    color: #71008C;
    font-size: 50px;
  }

  .container__descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
  }

  .descripcion {
    margin-bottom: 0px;
  }

  .efecto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100vw;
    height: 0;
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
  }

  .efecto:target {
    height: 100%;
  }

  #contenedor {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  #contenedor1 {
    background-color: #2F16AB;
  }

  #contenedor2 {
    background-color: #20E3C2;
    color: #ffffff;
  }

  #contenedor3 {
    background: #71008C;
    color: #ffffff;
  }

  #contenedor4 {
    background-color: white;
    color: #71008C;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .title__htmlcss,.title__javascript,.title__react {
    margin-top: 60px;
    font-size: 38px;
  }

  .img__green {
    background-image: url("../images/green2.PNG");
    width: 420px;
    height: 300px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .img__fruittis {
    width: 420px;
    height: 300px;
    margin-bottom: 0;
  }

  .img__cassiopea {
    width: 380px;
    height: 300px;
    margin-bottom: 0;
    margin-right: 20px;
  }

  .p__descripcion,.title_descripcion {
    width: 300px;
    color: white;
    text-align: left;
    font-size: 26px;
    margin-bottom: 20px;
  }

  .tags--react,.tags--js,.tags--html {
    font-size: 16px;
    padding: 5px;
    margin-right: 5px;
  }

  .enlaces_descripcion {
    margin: 10px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .enlace__movil {
    width: auto;
  }

  .proyecto {
    width: auto;
  }

  .enlaces {
    font-size: 30px;
    text-transform: capitalize;
  }

  .siguiente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media all and (min-width: 1024px) {
  .title__aboutme {
    font-size: 30px;
  }

  .p__descripcion--perfil {
    font-size: 26px;
  }

  .title--color {
    font-size: 85px;
    margin-left: 100px;
  }

  .go__link {
    margin-top: 100px;
    display: none;
  }

  .go {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 5px solid #ffffff;
    background: #ffffff;
    border-radius: 20px;
    height: 70px;
    width: 85px;
    margin-right: 200px;
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
  }

  .go:hover {
    background: #71008C;
    border: solid 2px #71008C;
  }

  .go__color:hover {
    color: #ffffff;
  }

  .go__color {
    text-decoration: none;
    color: #71008C;
    font-size: 50px;
  }

  .img__fruittis {
    width: 350px;
    height: 400px;
  }

  .img__cassiopea,.img__green {
    width: 550px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

  .title__htmlcss,.title__javascript,.title__react {
    font-size: 40px;
  }

  .descripcion {
    margin-left: 40px;
  }

  .p__descripcion,.title_descripcion {
    width: 340px;
    color: white;
    margin-left: 20px;
    text-align: left;
    font-size: 36px;
  }

  .enlaces {
    font-size: 36px;
  }
}

/*# sourceMappingURL=main.css.map */
