$colorWhite: #ffffff;
$colorVividCyan:#20E3C2;
$colorDarkMagenta:#71008C;
$colorDarkBlue:#2F16AB;


$backgroundBody:$colorVividCyan;
$backgroundNavDiv:$colorDarkMagenta;
$borderBottonNavDiv:$colorWhite;
$backgroundButtonNav:$colorWhite;
$colorNavTitle:$colorWhite;
$backgroundNav__button:$colorDarkMagenta;
$backgroundVisible:$colorDarkMagenta;
$colorNav__link:$colorWhite;
$backgroundHeader__nav:$colorDarkMagenta;
$borderBottonHeader__nav:$colorWhite;
$colorNav__items:$colorVividCyan;
$borderBottonNav__link--Hover:$colorWhite;
$textDecorationEnlaces:$colorWhite;
$colorEnlaces:$colorWhite;
$borderGo:$colorWhite;
$backgroundGo:$colorWhite;
$backgroundGoHover:$colorDarkMagenta;
$borderGoHover:$colorDarkMagenta;
$colorGo__colorHover:$colorWhite;
$colorGo__color:$colorDarkMagenta;
$colorTitle--color:$colorDarkMagenta;
$textDecorationTitle--color:$colorWhite;
$backgroundContenedor1:$colorDarkBlue;
$backgroundContenedor2:$colorVividCyan;
$backgroundContenedor3:$colorDarkMagenta;
$colorContenedor1:$colorWhite;
$colorContenedor2:$colorWhite;
$colorContenedor3:$colorWhite;
$colorTitle__htmlcss:$colorWhite;
$colorTitle__javascript:$colorWhite;