body {
    height: 100vh;
    /* background-image: url('../images/alcielo.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
  
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }