body {
  height: 100vh;
  background: #20E3C2;
  box-sizing: border-box;
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
canvas {
  display: block;
  vertical-align: bottom;
}

/* Particle container. */
#particle-container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
}