.header__nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  }
.nav__div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 20px;
  background:$backgroundNavDiv;
  border-bottom: solid 1px $borderBottonNavDiv;
}
.nav__title{
  margin: 0;
  color:$colorNavTitle;
  font-size: 20px;
}
.nav__button{
  background-image: url('../images/icon_menu.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $backgroundNav__button;
  width: 30px;
  height: 30px;
  display: block;
  border:none;
}
.nav__list{
  display: flex;
  flex-direction: column;
  display: none;
}
.img__menu{
  background-image: url('../images/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}
.visible{
  display: flex;
  flex-direction: column;
  height: auto;
  background:$backgroundVisible;
}
.nav__items{
  list-style: none;
  font-size: 16px;
  text-transform: capitalize;
  text-align: left;
  margin-left: 20px;
  padding: 5px;
}
.nav__link{
  color:$colorNav__link;
  font-size: 20px;
}
.nav__link:link{
  text-decoration: none;
}

.nav__link:visited{
  text-decoration: none;
}

@media all and (min-width: 768px){
  .nav__button{
    display: none;
  }
  .header__nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: $backgroundHeader__nav;
  padding: 20px;
  border-bottom: solid 1px $borderBottonHeader__nav;
  }
  .media{
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
    justify-content: center;
}
  .nav__div{
    border-bottom: none;
    background: $backgroundNavDiv;
  }
  .nav__title{
    margin: 0;
    color:$colorNavTitle;
    font-size: 28px;
    font-weight: 100;
  }
  .nav__items{
    list-style: none;
    color:$colorNav__items;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
    margin: 0;
}
  .nav__link{
    font-size: 26px;
    opacity: 0.5;
  }
  .nav__link:hover{
    color:white;
    opacity: 1;
    border-bottom: solid 6px $borderBottonNav__link--Hover;
  }
  .header__nav, .nav__link{
    padding: 7px 15px;
  }
}