.main__title{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
    width: 100vw;
}
.enlaces{
    text-decoration: underline  $textDecorationEnlaces;
    color:$colorEnlaces;
    
   }
   .enlaces__siguiente{
    text-decoration: underline  $textDecorationEnlaces;
    color:$colorEnlaces;
    font-size: 16px;
    margin-bottom: 50px;
   }
.go__link{
	margin-top: 100px;
    display: none;
}
.go{
    display: flex;
    justify-content: center;
    align-items: center;
	border: 5px solid $borderGo;
	background: $backgroundGo;
	border-radius: 20px;
	height: 50px;
	width: 65px;
    margin: 0 auto;
    transition: color ease 0.3s ;
}
.go:hover{
    background: $backgroundGoHover;
    border: solid 2px $borderGoHover;
}
.go__color:hover{
    color:$colorGo__colorHover;
}
.go__color{
    text-decoration: none;
    color:$colorGo__color;
    font-size: 36px;
}

.title--color{
    width: 40px;
    padding-left: 20px;
    padding-bottom: 50px;
    color:$colorTitle--color;
    font-size: 38px;
    text-transform: uppercase;
    text-decoration: underline  $textDecorationTitle--color;
}
.img__green{
    width: 300px;
    height: 300px;
    background-image: url('../images/greenmovil2.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 40px 0;
}
.img__fruittis{
    width: 300px;
    height: 300px;
    background-image: url('../images/proyecto2.1.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 40px 0;
}
.img__cassiopea{
    width: 300px;
    height: 300px;
    background-image: url('../images/proyecto3.1.PNG');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    margin: 40px 0;
}
.efecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:hidden;
    position:relative;
    width:100vw;
    height:0;
    -webkit-transition: all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
}
.efecto:target{
    height:100vh;
}
#contenedor{
    position:absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
#contenedor1{

    background-color:$backgroundContenedor1;
}
 #contenedor2{

    background-color:$backgroundContenedor2;
    color:$colorContenedor2;  
}
.contenedor3{
    background:$backgroundContenedor3;
    color:$colorContenedor3;  
}
#contenedor4{
    background-color:white;
    color:$colorDarkMagenta;
    display: flex;
    justify-content: center;
    align-items:center;  
}
.title__htmlcss,.title__javascript{
    color:$colorTitle__htmlcss;
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 36px;
}
.title__react{
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 36px;
}
.title__contacto{
    text-transform: uppercase;
    color: #71008C;
    font-size: 30px;
}
.email{
   margin: 50px 0; 
}

.icons__rrhh{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.rrss{
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.rrss::before  {
    content: "·";
    font-size: 30px;
    color: #20E3C2;
    margin: 0 10px;
  }
  .rrss:first-child::before{
    content: " ";
  }
  .contacto__linkedin, .contacto__github{
    text-decoration-color:#71008C;
}
 
@media all and (min-width: 768px){
    .main__title{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content:space-between;
    }
    .title--color{
		font-size: 65px;
		margin-left: 80px;
    }
    .go{
        height: 70px;
        width: 85px;
        margin-right: 100px; 
    }
    .go__color{
        font-size: 50px;
    }
    .enlaces__siguiente{
    text-decoration: underline  $textDecorationEnlaces;
    color:$colorEnlaces;
    font-size: 16px;
    margin-bottom: 50px;
   }
    .img__green,.img__fruittis,.img__cassiopea{
        width: 500px;
        height: 500px;
        margin: 40px 0;
    
    }
	.enlaces{
        font-size: 30px;
    }
    .title__contacto{
        font-size: 56px;
    }
    .email{
        font-size: 36px;
    }
    .icons__rrhh{
        font-size: 36px;
    }
    .rrss::before  {
        font-size: 55px;
    }
}
@media all and (min-width: 1024px){
    .title--color{
		font-size: 85px;
		margin-left: 100px;
    }
    .go{
        height: 70px;
        width: 85px;
        margin-right: 200px;  
    }
    .go__color{
        font-size: 50px;
    }
    .enlaces__siguiente{
        text-decoration: underline  $textDecorationEnlaces;
        color:$colorEnlaces;
        font-size: 36px;
        margin-bottom: 50px;
       }
    .img__green{
        background-image: url('../images/greentablet.PNG');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        margin: 40px 0;
    }
    .img__green,.img__fruittis,.img__cassiopea{
        width: 1000px;
        height: 800px;
        margin: 40px 0;
    }
    .title__htmlcss,.title__javascript{
        margin-top: 100px;
        font-size: 56px;
    }
    .title__react{
        margin-top: 100px;
        font-size: 56px;
    }
    .enlaces{
       font-size: 36px;
       }
       
}
