// .main{
//   display: grid;
//   grid-template-columns: auto;
// }
.main__title{
     display: flex;
     align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin-top: 100px;
}
.enlaces{
    text-decoration: underline  white;
   }
.go__link{
margin-top: 100px;
display: none;
}
.go{
display: flex;
border: 5px solid white;
background: white;
border-radius: 50px;
height: 50px;
width: 65px;
margin-right: 10px;
}
.go__color{
    text-decoration: none;
    color:#71008C;
    font-size: 36px;
}
.title--color{
    width: 40px;
    padding-left: 20px;
    margin-bottom: 200px;
    text-align: left;
    color:#71008C;
    font-size: 38px;
    text-transform: uppercase;
    text-decoration: underline  white;
}
.main__icons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 padding-left: 20px;
  
}
.icons{
  font-size: 45px;
  color:#71008C;
  &.icon__react{
  color:#F6DF2E;
  }
}
.icons__react{
 background: #71008C;
 height: 45px;
 width: 45px;
}
.icons__div{
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  // background: #9DE0AD;
}


.efecto{
    overflow:hidden;
    position:relative;
    top:100px;
    width:100vw;
    height:0;
    -webkit-transition: all 500ms ease-out;
    -moz-transition:all 500ms ease-out;
    transition: all 500ms ease-out;
}
#contenedor{
    position:absolute;
    width:100vw;
    height:100vh;
    overflow:hidden;
}
 
#contenedor1{
    background-color:#2F16AB;
    color:#F6DF2E;  
}
 #contenedor2{
    background-color:#00bdff;
    color:white;  
}
#contenedor3{
    background-color:white;
    color:#00bdff;  
}
.efecto:target{
    height:100vh;
}
@media all and (min-width: 768px){
    .main__icons{
		margin-top: 0px;
	}
    .icons{
		font-size: 80px;
	}
	.title--color{
		font-size: 65px;
		margin-left: 60px;
	}
	
  .icons__react{
   background: white;
   height: 80px;
  }
	.icons__div{
		width: 100px;
		height: 100px;
	}
	.icons__grid{
		display: grid;
		grid-template-columns: auto auto;
	}
}